<!-- interventions.component.html -->
<div class="container">
    <div class="search-bar">
      <input
        type="search"
        id="site-search"
        name="q"
        placeholder="Rechercher un chirurgien"
        [(ngModel)]="searchText"
        (keyup.enter)="search()"
        />
      <button id="clickButtonEnter" class="search-button" (click)="search()">Rechercher</button>
      <button class="refresh-button" (click)="refresh()">Actualiser</button>
      <div class="pagination">
        <button class="pagination-button" (click)="showLessInterventions()" [disabled]="lookingForSurgeon === true" [disabled]="itemsToShowStart === 0">Précédent</button>
        <button class="pagination-button" (click)="showMoreInterventions()" [disabled]="lookingForSurgeon === true" [disabled]="itemsToShowEnd === surgeonsInfos.length">Suivant</button>
      </div>
    </div>
  
    <div class="results">
      <p class="item-count">{{ itemsToShowStart }} - {{ itemsToShowEnd }} / {{ surgeonsInfos.length }}</p>
      
      <div class="table-container hover-effect">
        <table>
          <thead>
            <tr>
              <th>Chirurgien</th>
              <th>Spécialité</th>
              <th>Interventions totales</th>
              <th>Anesthésiste le plus fréquent</th>
              <th>Infirmière la plus fréquente</th>
              <th>Salle préférée</th>
              <th>Intervention la plus réalisée</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let surgeonsData of surgeonsArray.slice(sliceStart,sliceEnd)">
              <td>{{ surgeonsData.surgeon }}</td>
              <td>{{ surgeonsData.speciality }}</td>
              <td>{{ surgeonsData.totalInterventions }}</td>
              <td>{{ surgeonsData.anesthsiste }}</td>
              <td>{{ surgeonsData.nurses }}</td>
              <td>{{ surgeonsData.preferedRoom }}</td>
              <td>{{ surgeonsData.mostIntervention }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  